/* TODO: Make responsive */

.signupScreen {
  position: relative;
  max-width: 300px;
  padding: 70px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.85);
  animation: box2In 0.3s;
}
.signupScreen > form {
  display: grid;
  flex-direction: column;
}

.signupScreen > form > h1 {
  text-align: left;
  margin-bottom: 20px;
}
.signupScreen-info {
  font-size: 0.7em;
  cursor: pointer;
}
.signupScreen-tooltip {
  position: absolute;
  top: -35px;
  left: 150px;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  line-height: 19px;
  opacity: 0;
  transition: all 0.4s;
}
.signupScreen-tooltip > img {
  position: absolute;
  left: 35px;
  bottom: -7px;
  height: 7px;
}
.signupScreen-tooltip-show {
  opacity: 1;
}

.signupScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.signupScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #f00000;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.signupScreen-gray {
  color: gray;
}

.signupScreen-link {
  color: #fff;
}

.signupScreen-link:hover {
  cursor: pointer;
}

.signupScreen > form > h4 {
  margin-top: 20px;
}
