/* TODO: Make responsive */

.HomeScreen {
  position: relative;
  background-color: rgb(17, 17, 17);
}

.HomeScreen-footer {
  position: absolute;
  bottom: 9vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 10;
  width: 60vw;
  margin: 0 20vw;
}

.HomeScreen-footer-icons {
  display: flex;
  flex-direction: row;
  padding: 0.5vw;
}

.HomeScreen-footer-icon {
  width: 2vw;
  padding-right: 1vw;
}

.HomeScreen-footer-icon > img {
  width: 100%;
  cursor: pointer;
}

.HomeScreen-footer-dummies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.HomeScreen-footer-dummy {
  color: rgb(155, 155, 155);
  font-size: 1.1vw;
  font-family: NetflixSansRegular;
  width: 12vw;
  margin-right: 3vw;
  margin-bottom: 1vw;
  cursor: pointer;
}

.HomeScreen-footer-dummy:hover {
  text-decoration: underline;
}

.HomeScreen-copyright {
  position: relative;
  bottom: 0;
  padding: 20px;
  text-align: center;
  font-family: NetflixSansRegular;
  font-size: 20px;
  color: #fff;
  z-index: 999;
}
