/* TODO: Make responsive */

.row-wrapper {
  position: relative;
  top: -17vw;
  z-index: 40;
  overflow: hidden;
  padding-bottom: 10vw;
}

.row {
  position: relative;
  height: 13vw;
  display: block;
  margin: 3vw 0 3vw 0;
}
.row h2 {
  font-size: 1.4vw;
  font-stretch: expanded;
  font-family: NetflixSansRegular;
  -webkit-font-smoothing: antialiased;
  padding-left: 4vw;
}
.row-large {
  height: 25vw;
  margin-bottom: 5vw;
}

.row-flexbox-wrapper {
  position: relative;
  width: 100vw;
  overflow: visible;
  z-index: 20;
}
.row-flexbox {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 8.5vw;
  overflow: visible visible;
  flex-wrap: nowrap;
  margin: 1vw 0 4vw 4vw;
  background-color: rgba(0, 0, 0, 0.7);

  transform: translateX(0vw);
  transition: transform 1s;

  box-shadow: 0 0 2vw 2px black;
  z-index: 700;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.row-flexbox::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.row-flexbox-large {
  height: 22vw;
}

.movie-wrapper {
  position: relative;
  flex: 1 0 auto;
  width: 15vw;
  height: 8.5vw;
  padding: 0 0vw;
  vertical-align: top;
  overflow: visible;
  margin-right: 0.333vw;
  /* Final */

  cursor: pointer;
  border-radius: 3px;
  animation: fadein ease 1s;
  transition: transform 0.3s;
}
.movie-wrapper:hover {
  transform: scale(1.03);
  z-index: 900;
}

.poster-wrapper {
  height: 22vw;
}
.poster-wrapper:hover {
  transform: scale(1.03);
}

.movie-backdrop {
  width: 100%;
  border-radius: 3px;
  transition: transform 450ms;
  cursor: pointer;
  animation: fadein ease 2s;
}

.movie-poster {
}

.movie-logo {
  position: absolute;
  bottom: 20px;
  left: 10px;
  filter: drop-shadow(0px 0px 5px black);
  max-width: 50%;
  max-height: 75%;
  z-index: 100;
}
.n-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  z-index: 500;
  filter: drop-shadow(0px 0px 2px black);
}

.Row-react-player {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 300px;
  z-index: 998;
}

.Row-react-player-right {
  right: 0;
  left: auto;
}

.react-player-iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.react-player-iframe-right {
  right: 0;
  left: auto;
}

.react-player-turnoff {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 460px;
  height: 285px;
  z-index: 1000;
  cursor: default;
}

.react-player-turnoff-right {
  right: -30px;
  left: auto;
}

.react-player-turnoff-large {
  width: 660px;
  height: 397.5px;
}

.react-player-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 225px;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 1);
  transition: background-color 2s;

  animation: fadein 0.4s;
}

.react-player-mask-right {
  right: 0;
  left: auto;
}

.react-player-mask-large {
  width: 600px;
  height: 337.5px;
}

.react-player-mask-show {
  background-color: rgba(0, 0, 0, 0);
}

.row-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 4vw;
  height: 8.5vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  cursor: pointer;

  animation: fadein 0.5s;
}
.row-arrow-large {
  height: 22.5vw;
}
.row-arrow > img {
  width: 2vw;
  height: 2vw;
  transition: all 0.1s;
}
.row-arrow:hover img {
  width: 3vw;
  height: 3vw;
}

.row-prev {
  left: 0vw;
}

.row-next {
  right: 0vw;
}
